@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.product-img{
    width: 90px;
    height: 90px;
    margin-right: 10px;
    border-radius: 100%;
}
#card_container{
    width: 100%;

}
#text_category{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
#product-title{
    margin-top: 20px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    
}
#product-title:hover{
    color: #ce2929;
}
#card_container{
    border-radius: 10px;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.308); /* Sombra com desfoque de 10px, cor preta com 10% de opacidade */
}
.product-description-title{
    max-width: 250px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    
    
    

}

.product-description-price{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-align: left;
    

    
    
}
.product-description-price svg{
    color: #ce2929;
}
/* Media query para dispositivos móveis */
@media (max-width: 768px) {
 
    .container-sm{
        display: flex;
        justify-content: center;
    }
    #product-title{
        margin-top: 20px;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        max-width: 150px;
        
        
    }
    .product-description-title{
        max-width: 100px;
        font-size: 11px;
        font-family: "Roboto", sans-serif;
        text-align:left;
        
        margin-bottom: 40px;
    }
    .product-description-price{
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        text-align: left;
        
    
        
        
    }
    #text_category{
        display: flex;
        flex-direction: row;
        
        
        background-color: white;
        border-radius: 10px;
        
    }
   #card_container{
        width: 90%;

    }
    .product-img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 8px;
    
    
}

#product-title:hover{
    color: #ce2929;


    }
    .col-sm{
        width: 50%;
    }
}
    
   
