@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.product-img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.product-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
#product-title{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#product-title:hover{
    color: rgba(255, 94, 0, 0.801);
}
#card_container{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308); /* Sombra com desfoque de 10px, cor preta com 10% de opacidade */
}
.product-description-title{
    max-width: 200px;
    margin-left: 10px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}
/* Media query para dispositivos móveis */
@media (max-width: 768px) {
 
    .container-sm{
        display: flex;
        justify-content: center;
    }
    
   
   #card_container{
        width: 90%;

    }
    .product-img{
    width: 60px;
    height: 60px;
}

#product-title:hover{
    color: rgba(255, 94, 0, 0.801);


    }
    .col-sm{
        width: 50%;
    }
}
    
   
