.selector_category_component {
    max-width: 800px; /* Define uma largura máxima para o contêiner */
    margin: 0 auto; /* Centraliza o contêiner na página */
    overflow: hidden; /* Para evitar rolagem no eixo Y */
  }
  
  .category-scroll-container {
    display: flex;
    flex-direction: row; /* Exibe categorias em linha */
    overflow-x: auto; /* Permite a rolagem horizontal */
    padding: 10px; /* Espaçamento interno */
    white-space: nowrap; /* Evita quebra de linha */
  }
  
  .category {
    flex: 0 0 auto; /* Não permite que os itens encolham */
    margin-right: 10px; /* Espaçamento entre as categorias */
    text-align: center; /* Centraliza o texto */
  }
  
  .category-item {
    cursor: pointer; /* Indica que a imagem é clicável */
  }
  
  .category-image {
    width: 80px;
    height: 80px;
    display: block; /* Para que a imagem fique centralizada */
    margin: 0 auto; /* Centraliza a imagem */
  }
  