@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.selector_category_component {
  max-width: 1000px; /* Define uma largura máxima para o contêiner */
  margin: 50px auto; /* Adiciona margem em cima e embaixo */
  overflow: hidden; /* Para evitar rolagem no eixo Y */
}

.category-scroll-container {
  display: flex;
  flex-direction: row; /* Exibe categorias em linha */
  overflow-x: auto; /* Permite a rolagem horizontal */
  padding: 10px; /* Espaçamento interno */
  white-space: nowrap; /* Evita quebra de linha */
}

/* Adicione isso ao seu arquivo CSS */

.category-title-skeleton {
  height: 20px;
  max-width: 120px;
  margin: 5px auto 0 auto; /* Centraliza e adiciona margem */
  margin-bottom: 0px;
  display: block;
}

/* Ajuste para mobile */
@media (max-width: 768px) {
  .category-title-skeleton {
    height: 12px;
    max-width: 80px;
  }
}
.category {
  flex: 0 0 auto; /* Não permite que os itens encolham */
  text-align: center; /* Centraliza o texto */
}

.category-item {
  cursor: pointer; /* Indica que a imagem é clicável */
  margin-right: 10px; /* Espaçamento entre as categorias */
  flex-shrink: 0; /* Não permite que os itens encolham em dispositivos móveis */
}

.category-image {
  width: 200px;
  height: 200px;
  border-radius: 100%; /* Bordas arredondadas */
  display: block; /* Para que a imagem fique centralizada */
  margin: 0 auto; /* Centraliza a imagem */
}
.category-image:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.category-title {
  font-size: 20px; /* Título maior */
  margin-top: 5px; /* Espaço acima do título */
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.category-title-img{
  font-size: 20px; /* Título menor */
    margin-top: 30px; /* Espaço acima do título */
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}
/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .selector_category_component {
    max-width: 80%; /* Aumenta a largura máxima para ocupar mais espaço */
    margin: 30px auto; /* Adiciona margem em cima e embaixo */
    overflow: hidden; /* Para evitar rolagem no eixo Y */
  }
  
  .category-image {
    width: 80px;
    height: 80px;
    border-radius: 100px; /* Bordas arredondadas */
    display: block; /* Para que a imagem fique centralizada */
    margin: 0 auto; /* Centraliza a imagem */
  }
  
  .category-title {
    font-size: 12px; /* Título menor */
    margin-top: 5px; /* Espaço acima do título */
    max-width: 100px; /* Largura máxima do título */
    word-wrap: break-word; /* Quebra palavras longas em múltiplas linhas */
    white-space: normal; /* Permite quebra de linha normal */
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.category-title-img{
  font-size: 12px; /* Título menor */
    margin-top: 30px; /* Espaço acima do título */
    max-width: 100px; /* Largura máxima do título */
    word-wrap: break-word; /* Quebra palavras longas em múltiplas linhas */
    white-space: normal; /* Permite quebra de linha normal */
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}
  .category-scroll-container {
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  }
  
  .category-item {
    margin: 0 5px; /* Ajusta o espaçamento em dispositivos móveis */
    flex: 0 0 auto; /* Não permite que os itens encolham */
  }
}
