@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.btn.dropdown-toggle {
    margin-top: 40px;
    width: 500px; /* Largura do botão dropdown */
    /* Outros estilos conforme necessário */
    font-family: "Roboto", sans-serif;
    background-color:  rgb(255, 94, 0);
    border: none;
}

.dropdown-menu {
    width: 500px; /* Largura do menu suspenso */
    /* Outros estilos conforme necessário */
    font-family: "Roboto", sans-serif;
}

.dropdown-item {
    width: 100%; /* Largura dos itens da lista */
    /* Outros estilos conforme necessário */
}
@media (max-width: 768px) {

    .btn.dropdown-toggle {
        width: 400px; /* Largura do botão dropdown */
        /* Outros estilos conforme necessário */
        font-family: "Roboto", sans-serif;
    }
    
    .dropdown-menu {
        width: 400px; /* Largura do menu suspenso */
        /* Outros estilos conforme necessário */
        font-family: "Roboto", sans-serif;
    }
    
    .dropdown-item {
        width: 100%; /* Largura dos itens da lista */
        /* Outros estilos conforme necessário */
    }
}