.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Posiciona o botão 20px da borda direita */
  z-index: 100;
  transition: top 0.3s ease;
  opacity: 0.8;
}

.fixed-button.show {
  top: 20px;
  opacity: 1;
}

.fixed-button button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
}
.flexbox{
  display: flex;
  justify-content: right;
  align-items :center
}
