@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.infos_texts_class{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    gap: 20px;
    justify-content: center;

}
.infos_texts_class h3{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .infos_texts_class h3{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
    }
    
    
  }
  
