@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.conteiner_hotmenu_logo{
   display: flex;
   justify-content: center;
   height: 60px;
   padding: 10px;
   background-color: white;
}
#carouselExampleFade{
    position: absolute;
    z-index: 0;

}

.icons_header_conteiner_class{
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-right: 5px;
    
}
.logo_conteiner_class{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img-fluid{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 15px;
   margin-top: 20%;
   z-index: 1;
    
}


.icons_header_conteiner_class {
    position: fixed;
    top: 300px;
    right: 10px;
    z-index: 100;
    transition: top 2s ease;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 25px;
  }
  
  .icons_header_conteiner_class.fixed {
    top: auto;
    margin-top: 30px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    gap: 1px;
    font-size: 25px;
    
  }
  .carousel-fade{
   
    width: 100vw;
    
    
    border-radius: 10px;
  }
  #title_logo{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
  }
  #amount_order{
    position: absolute;
    background-color: #332D2D;
    color: white;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 11px;
    margin-right: 6px;
    margin-left: 3px;
    margin-top: 5px;
    z-index: 1;
    
  }
  .itens-shopping-conteiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #dash-iten{
    margin-right: 50%;
  }
  .iten-img{
    background-color: #ce2929;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }
  #tooltip-cupom-btn{
    font-size: 11px;
  }
  #cupom-icon-modal-title{
    width: 30px;
    height: 30px;
    color: #ce2929;
  }
 
  @media only screen and (max-width: 768px) {
   
    .icons_header_conteiner_class {
        position: fixed;
        top: 120px;
        right: -12px;
        z-index: 100;
        transition: top 2s ease;
        width: 45px;
        font-size: 20px;
        
      }
      .conteiner_hotmenu_logo img{
        width: 102px;
        
       
      }
      
      .icons_header_conteiner_class.fixed {
        top: auto;
        bottom: 20px;
        width: 45px;
        right: -12px;
        font-size: 20px;
      }
      .img-fluid{
        width: 130px;
        height: 130px;
        border-radius: 15px;
        margin-top: 26%;
        
    }
    #title_logo{
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 25px;
        margin-top: 20px;
      }
      #amount_order{
        position: absolute;
        background-color: #332D2D;
        color: white;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        text-align: center;
        font-size: 10px;
        z-index: 1;
        margin-top: 8px;
        margin-left: 5px;
      }
      .carousel-fade{
   
        width: 100vw;
        
        border-radius: 10px;
      }
      .carousel-item img{
        height: 125px;
      }
      .estabelecimento-description{
        font-size: 12px;
      }
  }
  
  
