@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.form-label-credit{
    margin-right: 70%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.form-label::placeholder{
    font-family: "Roboto", sans-serif;
    font-size: 8px;
}
#btn-forma-pagamento{
    width: 20px;
}
.form-label-credit-usuario{
    margin-right: 88%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
#finalizar-pedido-btn{
    background-color: #ce2929;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#finalizar-pedido-btn:hover{
    background-color: #332D2D;
}
#excluir-pedido-btn{
    background-color: #ce2929;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#excluir-pedido-btn:hover{
    background-color: #332D2D;
}
.titular-card-pay-conteiner{
    display:  flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
}
.titular-card-pay-conteiner label{
    font-size: 12px;
}
.pay-title-form{
text-align: left;
border-top: 1px solid #e0e0e0;
}
.form-label-credit-check{
    font-size: 12px;
   
   
    
}
.user-inputs-conteiner{
    border-top: 1px solid #e0e0e0; 
    margin-top: 5%;
}
@media only screen and (max-width: 768px) {


    .form-label-credit{
        margin-right: 70%;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
    }
    .form-label::placeholder{
        font-family: "Roboto", sans-serif;
        font-size: 8px;
    }
    #btn-forma-pagamento{
        width: 20px;
    }
    .form-label-credit-usuario{
        margin-right: 88%;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
    }
    #finalizar-pedido-btn{
        background-color: #ce2929;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px;
    }
    #finalizar-pedido-btn:hover{
        background-color: #332D2D;
    }
    #excluir-pedido-btn{
        background-color: #ce2929;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px;
    }
    #excluir-pedido-btn:hover{
        background-color: #332D2D;
    }
    .titular-card-pay-conteiner{
        display:  flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 5px;
    }
    .titular-card-pay-conteiner label{
        font-size: 12px;
    }
    .pay-title-form{
    text-align: left;
    border-top: 1px solid #e0e0e0;
    }
    .form-label-credit-check{
        font-size: 12px;
        margin-right: 200px;
       
        
    }
    .form-label-credit-check-pix{
        font-size: 12px;
        margin-right: 270px;
       
        
    }
    .user-inputs-conteiner{
        border-top: 1px solid #e0e0e0; 
        margin-top: 5%;
    }
    .btn.dropdown-toggle {
        width: 300px; /* Largura do botão dropdown */
        /* Outros estilos conforme necessário */
        font-family: "Roboto", sans-serif;
    }
    
    .dropdown-menu {
        width: 300px; /* Largura do menu suspenso */
        /* Outros estilos conforme necessário */
        font-family: "Roboto", sans-serif;
    }
    
    .dropdown-item {
        width: 100%; /* Largura dos itens da lista */
        /* Outros estilos conforme necessário */
    }
    .dropdown-menu {
        width: 70%; /* Largura do menu suspenso */
        /* Outros estilos conforme necessário */
        
    }
    
    .dropdown-item {
        width: 100%; /* Largura dos itens da lista */
        /* Outros estilos conforme necessário */
        font-family: "Roboto", sans-serif;
        font-weight: bold;}

    #deliveryOptions{
        width: 100%;
    }
    .conteiner-pix{
        
        font-family: "Roboto", sans-serif;
        background-color: #ce2929;
        color: #e0e0e0;
        border-radius: 5px;
        padding: 5px;
    }   
    .conteiner-pix p{
        margin-top: 10px;

    } 




}