@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media (min-width: 992px) {
  #meu-alerta-cupom {
    width: 100%;
    text-align:left;
  }
}

@media (min-width: 1024px) {
  #inputZip{
    width: 600%;
  }
  #inputCity{
    width: 200%;

  }
}
.finalize-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    gap: 50px;
}
#inputNome4{
    width: 200%;
}
#inputTelefone4{ 
    width: 200%;  
}

.form-label-credit{
    margin-right: 70%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.form-label::placeholder{
    font-family: "Roboto", sans-serif;
    font-size: 8px;
}
#btn-forma-pagamento{
    width: 20px;
}
.formas_retirada_titulo{
    font-family: "Roboto", sans-serif; 
    text-align: left;
}
.form-label-credit-usuario{
    margin-right: 88%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

    
#finalizar-pedido-btn{
    background-color: #ce2929;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#finalizar-pedido-btn:hover{
    background-color: #332D2D;
}
#excluir-pedido-btn{
    background-color: #ce2929;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#excluir-pedido-btn:hover{
    background-color: #332D2D;
}
.pedido-desccao{
    text-align: left;
    color: #666;
    font-family: "Roboto", sans-serif; 
    font-size: 14px;
    margin: 0; /* Remove margens do parágrafo */
    padding: 0; /* Remove padding se houver */
    max-width: 100%; /* Garante que não exceda a largura do contêiner */
    overflow: hidden; /* Oculta qualquer conteúdo que transborde */
    
    
    
}
.pedido-desccao-detalis{
    font-size: 14px;
    color: #666;
    text-align: left;
    margin-inline: -2px;
    white-space: pre-line;
    max-width: 100%; /* Garante que não exceda a largura do contêiner */
    margin: 0; /* Remove margens do parágrafo */
    padding: 0; /* Remove padding se houver */
    display: flex; /* Alinha os elementos dentro como flex */
    flex-wrap: wrap; /* Permite que o texto quebre se necessário */
   
    
}

.pedido-desccao span {
    margin: 0; /* Remove margens entre spans */
    padding: 0; /* Remove padding se houver */
    display: inline; /* Mantém os spans na mesma linha */
}


.total-valor-pedido-p{
        
    color: #332D2D;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
   
}
.total-valor-pedido-span{
    color: #332D2D;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold; 
}
.titular-card-pay-conteiner{
    display:  flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
}
.titular-card-pay-conteiner label{
    font-size: 12px;
}
.pay-title-form{
text-align: left;
border-top: 1px solid #e0e0e0;
}

/* Estilo do grid */
.payment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
  
  /* Estilo dos itens do grid */
  .payment-item {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .payment-item img {
    width: 100%;
    height: auto;
    max-width: 70px; /* Ajuste o tamanho máximo conforme necessário */
    object-fit: contain;
  }
  .conteiner-check {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    grid-template-rows: repeat(3, auto); /* 3 linhas com altura automática */
    gap: 10px; /* Espaçamento entre os itens */
}
.form-check-input {
    margin-right: 0.5rem; /* Ajuste o espaçamento entre o input e o label */
}
.form-label-check{
    text-align: left;
    margin-right: 100%;
    max-width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.conteiner-pix{
        
    font-family: "Roboto", sans-serif;
    background-color: #ce2929;
    color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}   
.conteiner-pix p{
    margin-top: 10px;

} 
.titular-card-pay-container label{
    margin-right: 75%; 
}
.card-date-container_grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.card-date-container_grid input{
    width: 40%;
    
}
.card-date-container_grid label{
    margin-right: 75%; 
}
.card-date-container_grid button{
    margin-right: 10px;
}
label{
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    white-space: nowrap;
}
.labelValorTroco{
    margin-right: 75%;  
}
.labelChavePix{
    margin-right: 75%; 
}
.input-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    gap: 10px;
}

.form-control {
    flex: 1;
    margin-right: 10px; /* Espaço entre o campo de entrada e o botão */
}

.btn-copy {
    background-color: #ce2929; /* Cor de fundo vermelha */
    border: none;
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer;
    padding: 5px; /* Espaço interno */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn-copy svg {
    fill: white; /* Cor do ícone */
    width: 20px; /* Tamanho do ícone */
    height: 20px; /* Tamanho do ícone */
}

.btn-copy:hover {
  background-color: #332D2D; /* Cor de fundo quando o botão é hoverizado */
}

.btn-copy:focus {
    outline: none; /* Remove o contorno padrão quando o botão está em foco */
}
.btn-gerar-boleto{
    background-color: #ce2929; /* Cor de fundo vermelha */
    border: none;
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer;
    padding: 5px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
}
.btn-gerar-boleto:hover{
    background-color: #332D2D;

}
.btn-fazer-transferencia{
    background-color: #ce2929; /* Cor de fundo vermelha */
    border: none;
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer;
    padding: 5px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    
    margin-top: 22px;
}
.btn-fazer-transferencia button{
    
    margin-right: 50px;
}
.btn-fazer-transferencia:hover{
    background-color: #332D2D;
}
.form-control.is-invalid {
    border-color: #dc3545; /* Cor da borda para campos inválidos */
  }
  
  .invalid-feedback {
    color: #dc3545; /* Cor do texto da mensagem de erro */
    font-size: 0.875em; /* Tamanho do texto da mensagem de erro */
    display: block; /* Exibe a mensagem de erro */
  }
.pagamento_online_title{
    text-align: left;
    font-family: "Roboto", sans-serif; 
}
.invisible-checkbox {
    display: none; /* Torna o checkbox invisível */
}

.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Indica que a imagem é clicável */
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Proporcional à imagem */
    height: 100%; /* Proporcional à imagem */
    display: flex;
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; /* Centraliza o ícone verticalmente */
    background-color: rgba(255, 255, 255, 0.7); /* Cor de fundo semitransparente */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.2s;
}

.checkmark.checked {
    opacity: 1; /* Fica visível quando o checkbox está marcado */
}

.check-icon {
    width: 50%; /* Ajuste o tamanho do ícone conforme necessário */
    height: auto; /* Mantém a proporção do ícone */
    fill: green; /* Cor do ícone, ajuste conforme necessário */
}

@media only screen and (max-width: 768px) {
    #inputNome4{
        width: 100%;
    }
    #inputTelefone4{ 
        width: 100%;  
    }

    .form-label-credit{
        margin-right: 70%;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
    }
    .form-label::placeholder{
        font-family: "Roboto", sans-serif;
        font-size: 8px;
    }
    #btn-forma-pagamento{
        width: 20px;
    }
    .form-label-credit-usuario{
        margin-right: 88%;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
    }
    #finalizar-pedido-btn{
        background-color: #ce2929;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px;
    }
    #finalizar-pedido-btn:hover{
        background-color: #332D2D;
    }
    .pedido-desccao{
        color: #666;
        font-family: "Roboto", sans-serif; 
        font-size: 14px;
    }
    .total-valor-pedido-p{
        
        color: #332D2D;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
       
    }
    .total-valor-pedido-span{
        color: #332D2D;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: bold; 
    }
    #excluir-pedido-btn{
        background-color: #ce2929;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px;
    }
    #excluir-pedido-btn:hover{
        background-color: #332D2D;
    }
    .titular-card-pay-conteiner{
        display:  flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 5px;
    }
    .titular-card-pay-conteiner label{
        font-size: 12px;
    }
    .pay-title-form{
    text-align: left;
    border-top: 1px solid #e0e0e0;
    }
  
    .user-inputs-conteiner{
        border-top: 1px solid #e0e0e0; 
        margin-top: 5%;
    }
    .btn.dropdown-toggle {
        width: 300px; /* Largura do botão dropdown */
        /* Outros estilos conforme necessário */
        font-family: "Roboto", sans-serif;
    }
    
    .dropdown-menu {
        width: 300px; /* Largura do menu suspenso */
        /* Outros estilos conforme necessário */
        font-family: "Roboto", sans-serif;
    }
    
    .dropdown-item {
        width: 100%; /* Largura dos itens da lista */
        /* Outros estilos conforme necessário */
        font-family: "Roboto", sans-serif;
        font-weight: bold;}

    #deliveryOptions{
        width: 100%;
    }
    .conteiner-pix{
        
        font-family: "Roboto", sans-serif;
        background-color: #ce2929;
        color: #e0e0e0;
        border-radius: 5px;
        padding: 5px;
    }   
    .conteiner-pix p{
        margin-top: 10px;

    } 
    .titular-card-pay-container label{
        margin-right: 75%; 
    }
    .card-date-container_grid{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .card-date-container_grid input{
        width: 70%;
        
    }
    .card-date-container_grid label{
        margin-right: 75%; 
    }
    label{
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        white-space: nowrap;
    }
    .labelValorTroco{
        margin-right: 75%;  
    }
    .labelChavePix{
        margin-right: 75%; 
    }
    .input-container {
        display: flex;
        align-items: center; /* Alinha os itens verticalmente no centro */
        gap: 10px;
    }
    
    .form-control {
        flex: 1;
        margin-right: 10px; /* Espaço entre o campo de entrada e o botão */
    }
    
    .btn-copy {
        background-color: #ce2929; /* Cor de fundo vermelha */
        border: none;
        border-radius: 4px; /* Cantos arredondados */
        cursor: pointer;
        padding: 5px; /* Espaço interno */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .btn-copy svg {
        fill: white; /* Cor do ícone */
        width: 20px; /* Tamanho do ícone */
        height: 20px; /* Tamanho do ícone */
    }
    
    .btn-copy:hover {
      background-color: #332D2D; /* Cor de fundo quando o botão é hoverizado */
    }
    
    .btn-copy:focus {
        outline: none; /* Remove o contorno padrão quando o botão está em foco */
    }
    .btn-gerar-boleto{
        background-color: #ce2929; /* Cor de fundo vermelha */
        border: none;
        border-radius: 5px; /* Cantos arredondados */
        cursor: pointer;
        padding: 5px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    .btn-gerar-boleto:hover{
        background-color: #332D2D;

    }
    .btn-fazer-transferencia{
        background-color: #ce2929; /* Cor de fundo vermelha */
        border: none;
        border-radius: 5px; /* Cantos arredondados */
        cursor: pointer;
        padding: 5px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: bold;
        
        margin-top: 22px;
    }
    .btn-fazer-transferencia button{
        width: 50%;
    }
    .btn-fazer-transferencia:hover{
        background-color: #332D2D;
    }
    
    .conteiner-check{
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    }

   

}