@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#ticket-icons{
    color: #ce2929;
}
.btn-compra{
    background-color: #ce2929;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.btn-compra:hover{
    background-color: #332D2D;
    color: white;
}
.modal-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.cart-btn-conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
}
.cart-item-img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.text-cart{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    
}
#modal-body-cartItens{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
.product-img-cart-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#span-carrinho-vazio{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
@media (max-width: 768px) {
    .btn-compra{
        
        font-size: 16px;
        padding: 10px;
    }
}