@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.status_moment_center {
    display: flex;
    justify-content: center;
    align-items: center;
     /* Define o componente para ocupar a altura total da viewport */
    
}

.status_moment_component {
    width: 70px;
    padding: 3px;
    border: none;
    border-radius: 10px;
    text-align: center;
    
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status-text{
    margin-top: 8px;
    font-size: 12px;
}

.status_open {
    background-color: #4CAF50; /* Verde */
    color: white;
}

.status_closed {
    background-color: #f44336; /* Vermelho */
    color: white;
}
