/* modal_products_styles.css */

/* Estilos gerais do modal */
.modal {
    display: none; /* O modal é ocultado por padrão */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
  }
  
  .modal.show .modal-dialog {
    transform: translate(0, 0);
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  #product-img-modal:hover{
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer; 

  }
  .btn-close {
    padding: 0.5rem 0.75rem;
    margin: -0.5rem -0.75rem -0.5rem auto;
    background-color: transparent;
    border: 0;
  }
  
  /* Estilos específicos para o conteúdo do modal */
  
  .product-img-options img {
    max-width: 100%;
    height: auto;
  }
  
  .options-container {
    margin-top: 1rem;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
  }
  
  .options-container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .options-description-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .options-icons-plus-dash {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  #btn-plus{
    cursor: pointer;
  }
  #btn-plus:hover{
    transform: scale(1.2);
    transition: 1s;
  }
  #btn-dash{
    cursor: pointer;
  }
  #btn-dash:hover{
    transform: scale(1.2);
    transition: 1s;
  }
  
  .options-suggestion {
    margin-top: 1rem;
  }
  
  .suggestion-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .options-btn-add {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: #fa6b18;
    border: 1px solid #fa6b18;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .options-btn-add:hover {
    background-color: #332D2D;
    border: 1px solid #332D2D;
  }
