@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.perguntas-container {
  padding: 15px;
}

.pergunta-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.pergunta-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  line-height: 1.2; /* Ajusta a altura da linha para melhor alinhamento */
  vertical-align: middle; /* Alinha verticalmente no meio */
 
}

.pergunta-title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* Mantém tamanho de fonte padrão */
  margin-bottom: 5px;
  text-align: left;
  margin: 0 auto;

  /* Quebra de linha quando precisar */
  word-break: break-word;     /* quebra elegante */
  overflow-wrap: break-word;  /* compatibilidade */
  white-space: normal;
}

.pergunta-info, .pergunta-count, .obrigatorio, .opcional {
  font-size: 0.9em; /* Tamanho reduzido */
  color: gray;
}


.max-option-text {
  font-family: "Roboto", sans-serif;
  color: gray;
  text-align: left;

}

.observacoes {
  margin-bottom: 10px;
}

.observacao-label {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 5px 0;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.option-info {
  flex-grow: 1;
}

.option-name {
  font-weight: bold;
  font-size: 0.9rem; /* Tamanho reduzido */
  white-space: nowrap; /* Impede quebras de linha */
  overflow: hidden; /* Esconde texto excessivo */
  text-overflow: ellipsis; /* Adiciona reticências */
}

.option-price {
  font-family: "Roboto", sans-serif;
  color: #b12704; /* Cor para o preço */
  font-size: 0.9rem; /* Tamanho reduzido */
}

.options-icons {
  display: flex;
  align-items: center;
}

.options-icons svg {
  cursor: pointer;
  margin: 0 5px;
}

.options-icons svg:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.option-count {
  margin: 0 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .pergunta-card {
    padding: 10px; /* Menos padding em telas menores */
  }

  .pergunta-title {
    font-size: 0.95rem; /* Levemente menor */
    text-align: left;
    max-width: 200px;
    white-space: normal; /* Permite a quebra de linha */
    overflow-wrap: break-word; /* Quebra palavras longas se necessário */
    word-break: break-word; /* Garante que as palavras longas também quebrem */
  
  }
  .max-option-text{
   text-align: left;
   font-size: 13px;
  }

  .pergunta-info, .pergunta-count, .obrigatorio, .opcional {
    font-size: 13px; /* Menor ainda */
  }
 
  .option-name {
    text-align: left;
    font-size: 0.85rem; /* Ajusta o tamanho do nome da opção */
    max-width: 150px;
    white-space: normal; /* Permite a quebra de linha */
    overflow-wrap: break-word; /* Quebra palavras longas se necessário */
    word-break: break-word; /* Garante que as palavras longas também quebrem */
}


  .option-price {
    font-size: 0.85rem; /* Ajusta o tamanho do preço */
    text-align: left;
  }

  .option-item {
    flex-direction: row; /* Mantém alinhamento em linha */
  }

  .options-icons {
    justify-content: flex-end; /* Alinha ícones à direita */
  }
}

@media (max-width: 480px) {
  .pergunta-title {
    font-size: 0.85rem; /* Menor ainda para telas pequenas */
  }

  .option-item {
    padding: 8px 0; /* Reduz o padding das opções */
  }

  .option-price {
    font-size: 0.75rem; /* Ajusta o tamanho do preço */
  }
}
