/* Estilo geral do modal */
.modal-body {
    padding: 20px;
}

.payment-category {
    margin-bottom: 20px;
}

.payment-category h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Estilo do grid */
.payment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

/* Estilo dos itens do grid */
.payment-item {
    text-align: center;
}

.payment-item img {
    width: 100%;
    height: auto;
    max-width: 70px; /* Ajuste o tamanho máximo conforme necessário */
    object-fit: contain;
}

.payment-item span {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
}
