@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#category_conteniner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#category_label_title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.category_title{
    font-family: "Roboto", sans-serif;
    background-color: #fa6b18;
    width: 83%;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
}
#card_conteiner{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    box-shadow: 10px 10px 5px rgba(51, 50, 50, 0.5);
    
}
#card_conteiner img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}
#text_category{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#text_category p{
 margin-left: 30px;
}
#text_category h3{
    margin-left: 20px;
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    #category_title{
        font-family: "Roboto", sans-serif;
        background-color: #fa6b18;
        width: 100%;
        border-radius: 5px;
        margin-top: 50px;
    }
    #category_label_title{
        width: 86%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 30px;
    }
   
    

  }
  